.Rproj.user
.Rhistory
.RData
data/processed
figures
data/raw/*
!data/raw/.gitkeep
*.html
!*_final.html
!*_final.pdf

renv/library/
renv/local/
renv/staging/

.DS_Store
Thumbs.db
desktop.ini 
ehthumbs.db 
*.lnk

.vscode/
!.vscode/settings.json